<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>listofbusses</h1>
        <h1>bus9 travels</h1>
        <h1>ovr travels</h1>
        <h1>bhairava travels</h1>
        <h1>yulu travels</h1>
        <a href="{% url 'train:listoftrains' %}">
            <h1>see the list of trains</h1>
        </a>
    </center>
</body>
</html>